.carousel {
  width: 100%;

  overflow: hidden;

  margin-top: 2rem;
}

.inner {
  display: flex;

  width: max-content;
}

.item {
  position: relative;

  flex-shrink: 0;

  width: 500px;
  height: 350px;

  margin-right: 16px;

  overflow: hidden;

  border-radius: 12px;
}

.image {
  object-fit: cover;

  transition: transform 0.4s ease;
}

.item:hover .image {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .item {
    width: 80vw;
    height: 260px;
  }
}
